@font-face {
  font-family: 'LakersTextured';
  src: url('/fonts/LakersTextured.otf') format('opentype');
}

@font-face {
  font-family: 'NBABulls';
  src: url('/fonts/NBABulls.ttf') format('truetype');
}

@font-face {
  font-family: 'BruceForever';
  src: url('/fonts/BruceForeverRegular-X3jd2.ttf') format('truetype');
}
